---
import './hero.css';
---

<section class="hero">
	<div class="hero-container">
		<div class="text-content">
			<h2 class="hero-subtitle color-gradient">Welcome to my portfolio, my name is</h2>
			<h1 class="hero-title color-gradient">Nitheesh Sudarsanan</h1>
			<h2 class="hero-title-big ">I build things for the web</h2>
			<p class="hero-text color-gradient">
				Software Analyst @Bounteous x Accolite, since 2023
			</p>
			
			<a class="resume-button primary button" href="../docs/3043_NitheeshSudarsanan.pdf">Get a copy of my resume</a>
		</div>
    <img
		class="hero-img"
		src="/img/profile.jpg"
		alt="Jhon Doe"
		width="384"
    	height="384"
	/>
	</div>
</section>
