---
import SocialIcons from '../SocialIcons.astro';
import TechStack from './TechStack/TechStack.astro';
import "./about.css"
---

<section id="about" class="about">
	<div class="about-container">
		<div class="about-content">
			<h2 class="color-gradient">About me</h2>
			<p class="about-text">
				As a Software Analyst with over a year of experience, I have a strong foundation in web development, including HTML, CSS, JavaScript, and React JS. I have hands-on experience with Magento basics and practical insights into Agile methodology and e-commerce websites from my QA tester role at Chico's. Passionate about development, data science, and continuous learning, I am eager to contribute to digital transformation initiatives and achieve professional success.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
		<TechStack/>
	</div>

</section>
