---
import SkillIcon from "./SkillIcon/SkillIcon.astro"
import "./techstack.css"

---
<div class="techstack-skills">   
    <div class="techstack-skills-container">
        <SkillIcon src="/assets/html.svg" color="#f06529" name="HTML" />
        <SkillIcon src="/assets/css.svg" color="#00A3FF" name="CSS" />
        <SkillIcon src="/assets/javascript.svg" color="#f0db4f" name="JavaScript" />
        <SkillIcon src="/assets/react.svg" color="#00D1FF" name="React" />
        <SkillIcon src="/assets/bootstrap.svg" color="#7738ff" name="Bootstrap" />
        <SkillIcon src="/assets/typescript.svg" color="#007acc" name="TypeScript" />
        <SkillIcon src="/assets/tailwind.svg" color="#06b6d4" name="Tailwind" />
        <SkillIcon src="/assets/Astro.svg" color="#FFFFFF" name="Astro" />
        <SkillIcon src="/assets/mysql.svg" color="#06b6d4" name="MySQL" />
        <SkillIcon src="/assets/nodejs.svg" color="#3c873a" name="Node.js" />
        <SkillIcon src="/assets/npm.svg" color="#CC3534" name="npm" />
    </div>
</div>