---
import SocialIcons from '../SocialIcons.astro';
import './Footer.css';
---

<footer>
	<div class="footer-container">
		<a href="/" class="profile">
			<h3 class="color-gradient header-title">
				Nteezzz's Portfolio
			</h3>
			
		</a>
		<SocialIcons width="23" height="23" />
	</div>

	<aside class="footer-links">
		<a class="footer-link" href="mailto:er.nitheeshsudarsanan@gmail.com"
					><span
						><iconify-icon
							icon="fluent:mail-28-regular"
							width="27"
							height="27"
							style="color: #dcd8fc"></iconify-icon></span
					>er.nitheeshsudarsanan@gmail.com</a>
					
	</aside>
</footer>
